@font-face {
    font-display: swap;
    font-family: poppins;
    font-style: normal;
    font-weight: 300;
    src: url(fonts/Poppins-Thin.woff2) format("woff2"),url(fonts/Poppins-Thin.woff) format("woff")
    }
    
    @font-face {
    font-display: swap;
    font-family: poppins;
    font-style: normal;
    font-weight: 400;
    src: url(fonts/Poppins-Regular.woff2) format("woff2"),url(fonts/Poppins-Regular.woff) format("woff")
    }
    
    @font-face {
    font-display: swap;
    font-family: poppins;
    font-style: normal;
    font-weight: 500;
    src: url(fonts/Poppins-Medium.woff2) format("woff2"),url(fonts/Poppins-Medium.woff) format("woff")
    }
    
    @font-face {
    font-display: swap;
    font-family: poppins;
    font-style: normal;
    font-weight: 600;
    src: url(fonts/Poppins-SemiBold.woff2) format("woff2"),url(fonts/Poppins-SemiBold.woff) format("woff")
    }
    
    @font-face {
    font-display: swap;
    font-family: poppins;
    font-style: normal;
    font-weight: 700;
    src: url(fonts/Poppins-Bold.woff2) format("woff2"),url(fonts/Poppins-Bold.woff) format("woff")
    }
    
    @font-face {
    font-display: swap;
    font-family: poppins;
    font-style: normal;
    font-weight: 800;
    src: url(fonts/Poppins-ExtraBold.woff2) format("woff2"),url(fonts/Poppins-ExtraBold.woff) format("woff")
    }
    :root{
    --font-family-primary: "Poppins",sans-serif;
    --font-size-default: 16px;
    --line-height-dafault: 1.4;
    --line-height-secondary: 1.6;
    --font-weight-normal: 400;
    --font-weight-bold: 700;
    
    --color-primary: #1B3A57;  /* Deep Blue - Strong and sophisticated */
    --color-secondary: #F8F1ED; /* Soft Gray - Clean background */
    --color-accent: #007BFF;   /* Bright Blue - Modern and engaging */
    --color-text-primary: #2D2D2D; /* Charcoal - Optimal readability */
    --color-light: #FFFFFF;       /* Pure White - Contrast */
    --color-dark: #0F1B2D;      /* Dark backgrounds */

    --border-radius-primary: 15px;
    --border-color: #dee2e6;
    
    --box-shadow-primary: 0 6px 15px rgba(0,0,0,.08); 
    }
    *,*::after,*::before{margin: 0;padding: 0;box-sizing: border-box;}
    html { scroll-behavior: smooth; }
    body {
    width: 100%;
    height: 100dvh;
    font-family: var(--font-family-primary);
    font-weight: var(--font-weight-normal);
    overflow-x: hidden;
    --h1-font-size: 36px;
    --h2-font-size: 24px;
    --h3-font-size: 23px;
    --h4-font-size: 22px;
    --h5-font-size: 20px;
    --h6-font-size: var(--font-size-default);
    --container-width: 100%;
    }
    
    @media (min-width: 576px) {
    body {
      --container-width: 540px;
    }
    }
    @media (min-width: 768px) {
    body {
        --h1-font-size: 50px;
        --h2-font-size: 34px;
        --h3-font-size: 30px;
        --h6-font-size: 18px;
        --container-width: 720px;
    }
    }
    
    @media (min-width: 992px) {
    body {
        --h1-font-size: 60px;
        --h2-font-size: 52px;
        --h3-font-size: 50px;
        --h4-font-size: 24px;
        --h5-font-size: 28px;
        --container-width: 960px;
    }
    }
    @media (min-width: 1200px) {
      body {
        --container-width:1140px
      }
      }
      
      @media only screen and (min-width: 1280px) {
      body {
        --container-width:1200px
      }
      }
    h1, h2, h3, h4, h5, h6 {
        font-family: var(--font-family-sans);
        font-weight: var(--font-weight-bold);
        line-height: var(--line-height-dafault);
    }
    h1{font-size: var(--h1-font-size);}
    h2{font-size: var(--h2-font-size);}
    h3{font-size: var(--h3-font-size);}
    h4{font-size: var(--h4-font-size);}
    h5{font-size: var(--h5-font-size);}
    h6{font-size: var(--h6-font-size);}
    p{margin-bottom: 15px;line-height: var(--line-height-dafault);font-size: var(--h6-font-size);font-family: var(--font-family-primary);}
    .container {margin-left: auto;margin-right: auto;padding-left: 1rem;padding-right: 1rem;max-width: var(--container-width);box-sizing: border-box;}
    a{text-decoration: none;}
    img{max-width: 100%;height: auto;}
    li{list-style-type: none;}
    button{border: none;outline: none;}
    input{outline: none;}
    /* .animate-element1 {position: absolute;left: 0px;top: 85px;animation: myfirst 20s infinite;animation-timing-function: linear;z-index: -1;}
    .animate-element2 {position: absolute;right: 20%;top: 20px;animation: mysecond 20s infinite;animation-timing-function: linear;z-index: -1;}
    .animate-element3{position: absolute;right: 10%;top: 10%;animation: mythird 20s infinite;animation-timing-function: linear;z-index: -1;}
    .animate-element4 {position: absolute;left: 45%;bottom: 80px;animation: myfourth 20s infinite;animation-timing-function: linear;z-index: -1;}
      @keyframes sprinkle {
        0% {
            opacity: 1;
            transform: translateX(0) translateY(0)
        }
    
        to {
            opacity: 0;
            transform: translateX(100vw) translateY(100vh)
        }
    }
    
    .animate-element5 {
        display: none
    }
    
    .animate-element6 {animation: elementtwo 20s infinite;animation-timing-function: linear;position: absolute;right: 20%;top: 20px;z-index: -1}
    .animate-element7 {animation: elementthree 20s infinite;animation-timing-function: linear;position: absolute;right: 10%;top: 10%;z-index: -1}
    .animate-element8 {animation: elementfour 20s infinite;animation-timing-function: linear;bottom: 80px;left: 45%;position: absolute;z-index: -1}
    @media(min-width :768px){
        .animate-element5 {animation: elementone 10s infinite;animation-timing-function: linear;bottom: 50px;display: block;position: absolute;right: 10%;z-index: -1}
    }
    
    @keyframes elementone {
        0% {
            bottom: 50px
        }
    
        50% {
            bottom: 100px
        }
    
        to {
            bottom: 50px
        }
    }
    
    @keyframes elementtwo {
        0% {
            right: 20%;
            top: 0
        }
    
        25% {
            right: 25%;
            top: 0
        }
    
        50% {
            right: 20%;
            top: 100px
        }
    
        75% {
            right: 25%;
            top: 100px
        }
    
        to {
            right: 20%;
            top: 0
        }
    }
    
    @keyframes elementthree {
        0% {
            bottom: 0;
            left: 45%
        }
    
        25% {
            bottom: 100px;
            left: 55%
        }
    
        50% {
            bottom: 60px;
            left: 65%
        }
    
        75% {
            bottom: 100px;
            left: 55%
        }
    
        to {
            bottom: 0;
            left: 45%
        }
    }
    
    @keyframes elementfour {
        0% {
            bottom: 0;
            left: 45%
        }
    
        25% {
            bottom: 100px;
            left: 55%
        }
    
        50% {
            bottom: 60px;
            left: 65%
        }
    
        75% {
            bottom: 100px;
            left: 55%
        }
    
        to {
            bottom: 0;
            left: 45%
        }
    }
    
    @-webkit-keyframes myOrbit {
        0% {
            -webkit-transform: rotate(0deg) translateX(50px) rotate(0deg)
        }
    
        to {
            -webkit-transform: rotate(1turn) translateX(50px) rotate(-1turn)
        }
    }
    
    @-moz-keyframes myOrbit {
        0% {
            -moz-transform: rotate(0deg) translateX(50px) rotate(0deg)
        }
    
        to {
            -moz-transform: rotate(1turn) translateX(50px) rotate(-1turn)
        }
    }
    
    @-o-keyframes myOrbit {
        0% {
            -o-transform: rotate(0deg) translateX(50px) rotate(0deg)
        }
    
        to {
            -o-transform: rotate(1turn) translateX(50px) rotate(-1turn)
        }
    }
    
    @keyframes myOrbit {
        0% {
            transform: rotate(0deg) translateX(50px) rotate(0deg)
        }
    
        to {
            transform: rotate(1turn) translateX(50px) rotate(-1turn)
        }
    }
      
      @keyframes myfirst {
        0% {
          left: 0px;
          top: 0px;
        }
      
        25% {
          left: 100px;
          top: 0px;
        }
      
        50% {
          left: 100px;
          top: 100px;
        }
      
        75% {
          left: 50px;
          top: 100px;
        }
      
        100% {
          left: 0px;
          top: 0px;
        }
      }
      
      @keyframes mysecond {
        0% {
          right: 20%;
          top: 0px;
        }
      
        25% {
          right: 25%;
          top: 0px;
        }
      
        50% {
          right: 20%;
          top: 100px;
        }
      
        75% {
          right: 25%;
          top: 100px;
        }
      
        100% {
          right: 20%;
          top: 0px;
        }
      }
      @keyframes mythird {
        0% {
          left: 45%;
          bottom: 0px;
        }
      
        25% {
          left: 55%;
          bottom: 100px;
        }
      
        50% {
          left: 65%;
          bottom: 60px;
        }
      
        75% {
          left: 55%;
          bottom: 100px;
        }
      
        100% {
          left: 45%;
          bottom: 0px;
        }
      }
      
      @keyframes myfourth {
        0% {
          left: 45%;
          bottom: 0px;
        }
      
        25% {
          left: 55%;
          bottom: 100px;
        }
      
        50% {
          left: 65%;
          bottom: 60px;
        }
      
        75% {
          left: 55%;
          bottom: 100px;
        }
      
        100% {
          left: 45%;
          bottom: 0px;
        }
      }
      
      @-webkit-keyframes myOrbit {
        from {
          -webkit-transform: rotate(0deg) translateX(50px) rotate(0deg);
        }
      
        to {
          -webkit-transform: rotate(360deg) translateX(50px) rotate(-360deg);
        }
      }
      
      @-moz-keyframes myOrbit {
        from {
          -moz-transform: rotate(0deg) translateX(50px) rotate(0deg);
        }
      
        to {
          -moz-transform: rotate(360deg) translateX(50px) rotate(-360deg);
        }
      }
      
      @-o-keyframes myOrbit {
        from {
          -o-transform: rotate(0deg) translateX(50px) rotate(0deg);
        }
      
        to {
          -o-transform: rotate(360deg) translateX(50px) rotate(-360deg);
        }
      }
      
      @keyframes myOrbit {
        from {
          transform: rotate(0deg) translateX(50px) rotate(0deg);
        }
      
        to {
          transform: rotate(360deg) translateX(50px) rotate(-360deg);
        }
      } */
    